<!--<html>-->
<!--<body>-->
<!--Hello, {{name}}!-->
<!--</body>-->
<!--</html>-->


<!--<html>-->
<!--<body>-->
<!--<form action="/user" method="post">-->

    <!--<input type="text" placeholder="Create a user name" name="user"/>-->

    <!--<button type="submit">Create User</button>-->

<!--</form>-->



<!--</body>-->


<!--</html>-->






<!--<html>-->
<!--<body>-->
<!--Hello, {{name}}!<br>-->
<!--<form action="/message" method="post">-->
    <!--<input type="text" placeholder="" name="message"/>-->
    <!--<button type="submit"> Submit</button>-->
    <!--<br>-->
    <!--<br>-->
<!--</form>-->
<!--<ol>-->
    <!--{{#message}}-->
    <!--<li>{{text}}</li>-->
    <!--{{/message}}-->
<!--</ol>-->
<!--</body>-->
<!--</html>-->




<html>
<body>
<form action="/user" method="post">
    <input type="text" placeholder="Enter your new user name" name="user"/>
    <button type="submit">Create User Name</button>
</form>
</body>
</html>